.logBlock {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
}

.monthBlock {
    display: flex;
    flex-direction: column;
}

.month {
    font-size: 0.625rem;
    font-weight: 500;
}

.weekBlock {
    margin: auto;
    position: relative;
}

.logDay {
    position: absolute;
    left: -2.375rem;
    width: 2rem;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 500;
}

.weekBoxes {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.weekBoxes div {
    width: 2.4rem;
    height: 2.4rem;
    background: #F8FCFF;
    border: 0.5px solid #C2C2C2;
    border-radius: 0.1875rem;
}

/* When screen is larger than sm */
@media (min-width: 576px) {
    .logBlock {
        flex-direction: row-reverse;
        gap: 20px;
    }

    .weekBoxes div {
        width: 1rem;
        height: 1rem;
    }

    .logDay {
        margin: 0;
    }
}